/* Main container and navigation styles */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-container {
  display: block;
  justify-items: flex-start;
}

.home-title {
  color: #FFF;
  font-size: 2rem;
  font-weight: 700;
}
.typed-cursor {
  font-size: 2rem;
  color: #FFF;
}
.card {
  background-color: #fff;
  border-radius: 25px;
  height: 75vw;
  width: 75vw;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}
.card2 {
  height:75vw;
  width: 75vw;
  border-radius: 20px;
  animation: expand 0.5s ease-out forwards;
  animation-delay: 0.2s;
  transition: width .3s;
  opacity: 0;
}

.bottom-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Optional: give it a background to stand out */
  background-color: #fff;
  /* Adjust spacing as you like */
  padding: 1rem;  
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
  
}
.bottom-container-text {
  animation: expand 0.4s ease-out forwards;
  animation-delay: 0.4s;
  transition: width .3s;
  opacity: 0;
}

.branded-title-button {
  height: 50px;
  width: 100px;
  background: none;
  font-size: 1.5rem;
  font-weight: 150;
  border: none;
}
.branded-title-button:hover {
  border: #000;
}

.branded-button {
  height: 50px;
  width: 150px;
  background-color: #000;
  border: none;
}
.branded-button:hover {
  background-color: #fff;
  border-radius: 10px;
}

.branded-text {
  font-weight: 900;
}

.branded-title {
  padding-left: 20px;
  font-weight: 700;
  font-size: 2rem;
  animation: rotateIn 0.2s ease-out forwards; 
  transform-origin: left; 
  opacity: 0;
}

.image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.card2 img {
  height: 100%;
  width: 100%;
}

@keyframes floatIn {
  0% {
    transform: translate(-100px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    transform: scale(0); /* Start from zero size */
    opacity: 0;
  }
  100% {
    transform: scale(1); /* Expand to full size */
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    transform: rotate(45deg); /* Start at -45 degrees */
    opacity: 0;
  }
  100% {
    transform: rotate(0deg); /* End at 0 degrees (normal) */
    opacity: 1;
  }
}