/* Main container and navigation styles */
.main-container {
  display: flex;
  justify-content: center;
}
.main-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #FCF5E5;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 25px;
  width: 95vw;
}

.split-last-banner {
  padding-right: 50px;
}

.main-content-container {
  display:flex;
  justify-content: space-evenly;
  padding-top: 25px;
}

.card {
  background-color: #FCF5E5;
  height: 25vw;
  width: 25vw;
  border-radius: 20px;
  animation: expand 0.7s ease-out forwards;
  animation-delay: 0.7s;
  transition: width .3s;
  opacity: 0;
}
.card2 {
  background-color: #a2a09d;
  height:25vw;
  width: 30vw;
  border-radius: 20px;
  animation: expand 0.5s ease-out forwards;
  animation-delay: 0.2s;
  transition: width .3s;
  opacity: 0;
}
.card3 {
  background-color: #FCF5E5;
  height:25vw;
  width: 30vw;
  border-radius: 20px;
  animation: expand 0.5s ease-out forwards;
  animation-delay: 0.5s;
  transition: box-shadow .3s;
  transition: width .3s;
  opacity: 0;
}
.card3:hover {
  width: 35vw;
  box-shadow: 0 0 50px 10px #d5f1e5;
}

.branded-title-button {
  height: 50px;
  width: 100px;
  background: none;
  font-size: 1.5rem;
  font-weight: 150;
  border: none;
}
.branded-title-button:hover {
  border: #000;
}

.branded-button {
  height: 50px;
  width: 150px;
  background-color: #000;
  border: none;
}
.branded-button:hover {
  background-color: #fff;
  border-radius: 10px;
}

.branded-text {
  font-weight: 900;
}

.branded-title {
  padding-left: 20px;
  font-weight: 700;
  font-size: 2rem;
  animation: rotateIn 0.2s ease-out forwards; 
  transform-origin: left; 
  opacity: 0;
}

.image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px; 
}
.card2 img {
  height: 100%;
  width: 100%;
}

@keyframes floatIn {
  0% {
    transform: translate(-100px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    transform: scale(0); /* Start from zero size */
    opacity: 0;
  }
  100% {
    transform: scale(1); /* Expand to full size */
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    transform: rotate(45deg); /* Start at -45 degrees */
    opacity: 0;
  }
  100% {
    transform: rotate(0deg); /* End at 0 degrees (normal) */
    opacity: 1;
  }
}