.main-container {
  display: flex;
  justify-content: center;
}

.main-nav {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.main-banner {
  height: 70px;
  background-color: #FCF5E5;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 25px;
  width: 98vw;
}

.branded-text {
  color: #fff;
  font-weight: 900;
}

.branded-header {
  color: #fff;
  font-weight: 900;
  font-size: 200;
}

.menu-box {
  border-radius: 2px;
  display: block;
  top: 0;
  width: 500px;
  height: 252px;
  margin: 0;
  padding: 80px 0;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  backdrop-filter: blur(14px); 
  background-color: rgba(255, 255, 255, 0.2); 
  border-radius: 20px;
}

.image {
  max-width: 100%; /* Ensures the image does not exceed its container */
  height: auto; /* Maintains aspect ratio */
  display: block; /* Ensures the image behaves as a block element */
}