body, html {
  height: 100%;
  overflow: overlay;
}

body, html {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: #fffdff;
  background-size:auto;
  background-repeat:inherit; /* Prevent the image from repeating */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  overflow: overlay;
  
}
